/*
 * Base
 */
@font-face {
		font-family: 'ProximaNova-Bold';
		src: url('fonts/proximanova-bold.eot');
		src: url('fonts/proximanova-bold.eot?#iefix') format('embedded-opentype'),
				 url('fonts/proximanova-bold.woff') format('woff'),
				 url('fonts/proximanova-bold.ttf') format('truetype'),
				 url('fonts/proximanova-bold.svg#proximanova-bold') format('svg');
		font-weight: normal;
		font-style: normal;
}

::-moz-selection{
    background:#BDE052;
    color:#fff;
    text-shadow:0 1px 0 rgba(0,0,0,0.2);
}
::selection{
    background:#BDE052;
    color:#fff;
    text-shadow:0 1px 0 rgba(0,0,0,0.2);
}
body{
	font: 14px/1.5em "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #272B2F;
	background:#eee;
    cursor:default;
}

.cutive, h3, h4{
	font-family: 'ProximaNova-Bold', "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, sans-serif;
	text-transform:uppercase;
	letter-spacing:5px;
	text-rendering: optimizeLegibility;
}
.navbar a.brand{
	font-size: 21px;
	font-weight: bold;
}
.cutive > span{
	color:#BDE052;
}
h3{
	line-height: 20px;
	margin-top: 30px;
	border-bottom: 1px solid #DDD;
	padding-bottom: 10px;
	font-size: 20px;
	}
.brand.cutive:hover{
	color:#BDE052;
	}
	.brand.cutive:hover span{
		color:#fff;
	}


/*
 * Navbar
 */
.navbar li, .navbar li a, .brand, .brand span {
	-webkit-transition: color 0.3s linear, background 0.3s linear; 
    -moz-transition: color 0.3s linear, background 0.3s linear; 
    -o-transition: color 0.3s linear, background 0.3s linear; 
    transition: color 0.3s linear, background 0.3s linear;
}
.navbar-inverse .navbar-inner{
	background: #272B2F;
	outline: 2px solid rgba(0, 0, 0, 0.1);
	border-color: #151515;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
.navbar-inverse .brand{
	color:#fff;
}
.nav li{
	line-height:21px;
}
.nav li a{
	overflow:hidden;
}
.nav > li.active > a{
	position:relative;
	background: #222 !important;
	-webkit-box-shadow: 0 0 10px black inset !important;
	-moz-box-shadow: 0 0 10px black inset !important;
	box-shadow: 0 0 10px black inset !important;
}

.nav > li.active > a:before{
	content: "";
	width: 50%;
	height: 20px;
	position: absolute;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	left: 50%;
	right: 0;
	margin-left: -25%;
	bottom: -23px;
	-webkit-box-shadow: 0 0 30px #BDE052;
	-moz-box-shadow: 0 0 30px #BDE052;
	box-shadow: 0 0 30px #BDE052;
}

.dropdown-menu{
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}
.dropdown-menu li a:hover, .nav > li.active .dropdown-menu li.active a{
	background:#BDE052 !important;
	color:#272B2F;
	box-shadow:none;
}
.nav > li.active .dropdown-menu li a:before{
	display:none;
}
/*
 * Body
 */
#sparky-house .row{
	padding-top:40px;
}
#sparky-house p, #sparky-house ul{
	color: #555;
	text-shadow: 0 1px 0 #FAFAFA;
	font-size:13px;
}
#sparky-house .span4 > ul{
	margin:0;
	list-style-type:none;
}
 #sparky-house .span4 > ul ul{
	 margin-bottom: 5px;
	border-bottom: 1px solid #DDD;
	padding-bottom: 5px;
	font-style:italic;
 }
#sparky-house .span8{
	padding-top:52px;
	border-bottom: 1px solid #DDD;
	padding-bottom: 10px;
}

.fold{
	display: inline-block;
    width: 21px;
    height: 10px;
    background:url("data:image/png,%89PNG%0D%0A%1A%0A%00%00%00%0DIHDR%00%00%00%11%00%00%00%09%08%06%00%00%00%D4%E8%C7%0C%00%00%03%1EiCCPICC%20Profile%00%00x%01%85T%DFk%D3P%14%FE%DAe%9D%B0%E1%8B%3Ag%11%09%3Eh%91ndStC%9C%B6kW%BA%CDZ%EA6%B7!H%9B%A6m%5C%9A%C6%24%ED~%B0%07%D9%8Bo%3A%C5w%F1%07%3E%F9%07%0C%D9%83o%7B%92%0D%C6%14a%F8%AC%88%22L%F6%22%B3%9E%9B4M'S%03%B9%F7%BB%DF%F9%EE9'%E7%E4%5E%A0%F9qZ%D3%14%2F%0F%14USO%C5%C2%FC%C4%E4%14%DF%F2%01%5E%1CC%2B%FChM%8B%86%16J%26G%40%0F%D3%B2y%EF%B3%F3%0E%1E%C6lt%EEo%DF%AB%FEc%D5%9A%95%0C%11%F0%1C%20%BE%945%C4%22%E1Y%A0i%5C%D4t%13%E0%D6%89%EF%9D15%C2%CDLsX%A7%04%09%1Fg8oc%81%E1%8C%8D%23%96f45%40%9A%09%C2%07%C5B%3AK%B8%408%98i%E0%F3%0D%D8%CE%81%14%E4'%26%A9%92.%8B%3C%ABER%2F%E5dE%B2%0C%F6%F0%1Fs%83%F2_%B0%A8%94%E9%9B%AD%E7%10%8Dm%9A%19N%D1%7C%8A%DE%1F9%7Dp%8C%E6%00%D5%C1%3F_%18%BDA%B8%9DpX6%E3%A35~B%CD%24%AE%11%26%BD%E7%EEti%98%EDe%9A%97Y)%12%25%1C%24%BCbT%AE3li%E6%0B%03%89%9A%E6%D3%ED%F4P%92%B0%9F4%BF43Y%F3%E3%EDP%95%04%EB1%C5%F5%F6KF%F4%BA%BD%D7%DB%91%93%07%E35%3E%A7)%D6%7F%40%FE%BD%F7%F5r%8A%E5y%92%F0%EB%B4%1E%8D%D5%F4%5B%92%3AV%DB%DB%E4%CD%A6%23%C3%C4wQ%3F%03HB%82%8E%1Cd(%E0%91B%0Ca%9Ac%C4%AA%F8L%16%19%22J%A4%D2itTy%B28%D6%3B(%93%96%ED%1CGx%C9_%0E%B8%5E%16%F5%5B%B2%B8%F6%E0%FB%9E%DD%25%D7%8E%BC%15%85%C5%B7%A3%D8Q%ED%B5%81%E9%BA%B2%13%9A%1B%7Fua%A5%A3n%E17%B9%E5%9B%1Bm%AB%0B%08Q%FE%8A%E5%B1H%5Ee%CAO%82Q%D7u6%E6%90S%97%FCu%0B%CF2%94%EE%25v%12X%0C%BA%AC%F0%5E%F8*l%0AO%85%17%C2%97%BF%D4%C8%CE%DE%AD%11%CB%80q%2C%3E%AB%9ES%CD%C6%EC%25%D2L%D2%EBd%B8%BF%8A%F5B%C6%18%F9%901CZ%9D%BE%24M%9C%8A9%F2%DAP%0B'%06w%82%EB%E6%E2%5C%2F%D7%07%9E%BB%CC%5D%E1%FA%B9%08%AD.r%23%8E%C2%17%F5E%7C!%F0%BE3%BE%3E_%B7o%88a%A7%DB%BE%D3d%EB%A31Z%EB%BB%D3%91%BA%A2%B1z%94%8F%DB'%F6%3D%8E%AA%13%19%B2%B1%BE%B1~V%08%2B%B4%A2cjJ%B3tO%00%03%25mN%97%F3%05%93%EF%11%84%0B%7C%88%AE-%89%8F%ABbW%90O%2B%0Ao%99%0C%5E%97%0CI%AFH%D9.%B0%3B%8F%ED%03%B6S%D6%5D%E6i_s9%F3*p%E9%1B%FD%C3%EB.7U%06%5E%19%C0%D1s.%17%A03u%E4%09%B0%7C%5E%2C%EB%15%DB%1F%3C%9E%B7%80%91%3B%DBc%AD%3Dma%BA%8B%3EV%AB%DBt.%5B%1E%01%BB%0F%AB%D5%9F%CF%AA%D5%DD%E7%E4%7F%0Bx%A3%FC%06%A9%23%0A%D6%C2%A1_2%00%00%00%09pHYs%00%00%0B%13%00%00%0B%13%01%00%9A%9C%18%00%00%00%B5IDAT(%15%A5%91%3D%0E%02!%10%85ac%E1%05%D6%CE%D6%C6%CE%D2%E8%ED%CD%DE%C0%C6%D6N.%E0V%F8%3D%9Ca%891XH%C2%BE%D9y%3F%90!%E6%9C%C3%BFk%E5%011%C6-%F5%C8N%04%DF%BD%FF%89%DFt%83DN%60%3E%F3%AB%A0%DE%1A%5Dg%BE%10Q%97%1B%40%9C%A8o%10%8F%5E%828%B4%1B%60%87%F6%02%26%85%1Ch%1E%C1%2B%5Bk%FF%86%EE%B7j%09%9A%DA%9B%ACe%A3%F9%EC%DA!9%B4%D5%A6%81%86%86%98%CC%3C%5B%40%FA%81%B3%E9%CB%23%94%C16Azo%05%D4%E1%C1%95a%3B%8A'%A0%E8%CC%17%22%85%1D%BA%00%A2%FA%DC%0A%94%D1%D1%8D%8B%3A%84%17B%C7%60%1A%25Z%FC%8D%00%00%00%00IEND%AEB%60%82"), url("data:image/png,%89PNG%0D%0A%1A%0A%00%00%00%0DIHDR%00%00%00%05%00%00%007%08%06%00%00%00%C4%DD%80C%00%00%03%1EiCCPICC%20Profile%00%00x%01%85T%DFk%D3P%14%FE%DAe%9D%B0%E1%8B%3Ag%11%09%3Eh%91ndStC%9C%B6kW%BA%CDZ%EA6%B7!H%9B%A6m%5C%9A%C6%24%ED~%B0%07%D9%8Bo%3A%C5w%F1%07%3E%F9%07%0C%D9%83o%7B%92%0D%C6%14a%F8%AC%88%22L%F6%22%B3%9E%9B4M'S%03%B9%F7%BB%DF%F9%EE9'%E7%E4%5E%A0%F9qZ%D3%14%2F%0F%14USO%C5%C2%FC%C4%E4%14%DF%F2%01%5E%1CC%2B%FChM%8B%86%16J%26G%40%0F%D3%B2y%EF%B3%F3%0E%1E%C6lt%EEo%DF%AB%FEc%D5%9A%95%0C%11%F0%1C%20%BE%945%C4%22%E1Y%A0i%5C%D4t%13%E0%D6%89%EF%9D15%C2%CDLsX%A7%04%09%1Fg8oc%81%E1%8C%8D%23%96f45%40%9A%09%C2%07%C5B%3AK%B8%408%98i%E0%F3%0D%D8%CE%81%14%E4'%26%A9%92.%8B%3C%ABER%2F%E5dE%B2%0C%F6%F0%1Fs%83%F2_%B0%A8%94%E9%9B%AD%E7%10%8Dm%9A%19N%D1%7C%8A%DE%1F9%7Dp%8C%E6%00%D5%C1%3F_%18%BDA%B8%9DpX6%E3%A35~B%CD%24%AE%11%26%BD%E7%EEti%98%EDe%9A%97Y)%12%25%1C%24%BCbT%AE3li%E6%0B%03%89%9A%E6%D3%ED%F4P%92%B0%9F4%BF43Y%F3%E3%EDP%95%04%EB1%C5%F5%F6KF%F4%BA%BD%D7%DB%91%93%07%E35%3E%A7)%D6%7F%40%FE%BD%F7%F5r%8A%E5y%92%F0%EB%B4%1E%8D%D5%F4%5B%92%3AV%DB%DB%E4%CD%A6%23%C3%C4wQ%3F%03HB%82%8E%1Cd(%E0%91B%0Ca%9Ac%C4%AA%F8L%16%19%22J%A4%D2itTy%B28%D6%3B(%93%96%ED%1CGx%C9_%0E%B8%5E%16%F5%5B%B2%B8%F6%E0%FB%9E%DD%25%D7%8E%BC%15%85%C5%B7%A3%D8Q%ED%B5%81%E9%BA%B2%13%9A%1B%7Fua%A5%A3n%E17%B9%E5%9B%1Bm%AB%0B%08Q%FE%8A%E5%B1H%5Ee%CAO%82Q%D7u6%E6%90S%97%FCu%0B%CF2%94%EE%25v%12X%0C%BA%AC%F0%5E%F8*l%0AO%85%17%C2%97%BF%D4%C8%CE%DE%AD%11%CB%80q%2C%3E%AB%9ES%CD%C6%EC%25%D2L%D2%EBd%B8%BF%8A%F5B%C6%18%F9%901CZ%9D%BE%24M%9C%8A9%F2%DAP%0B'%06w%82%EB%E6%E2%5C%2F%D7%07%9E%BB%CC%5D%E1%FA%B9%08%AD.r%23%8E%C2%17%F5E%7C!%F0%BE3%BE%3E_%B7o%88a%A7%DB%BE%D3d%EB%A31Z%EB%BB%D3%91%BA%A2%B1z%94%8F%DB'%F6%3D%8E%AA%13%19%B2%B1%BE%B1~V%08%2B%B4%A2cjJ%B3tO%00%03%25mN%97%F3%05%93%EF%11%84%0B%7C%88%AE-%89%8F%ABbW%90O%2B%0Ao%99%0C%5E%97%0CI%AFH%D9.%B0%3B%8F%ED%03%B6S%D6%5D%E6i_s9%F3*p%E9%1B%FD%C3%EB.7U%06%5E%19%C0%D1s.%17%A03u%E4%09%B0%7C%5E%2C%EB%15%DB%1F%3C%9E%B7%80%91%3B%DBc%AD%3Dma%BA%8B%3EV%AB%DBt.%5B%1E%01%BB%0F%AB%D5%9F%CF%AA%D5%DD%E7%E4%7F%0Bx%A3%FC%06%A9%23%0A%D6%C2%A1_2%00%00%00%09pHYs%00%00%0B%13%00%00%0B%13%01%00%9A%9C%18%00%00%00%3AIDAT8%11c%FC%FF%FF%7F%18%03%1A%60%01%F2%3F%A0%891%80%04%FF%11-%F8%17%9BJ%E2%05%B1ZD%81v%26t%E7%80%F8%A3%82h%A12%1A%20%A3%01%02%0F%01%BA%25%06%00%19%C0%0D%AEF%D5%3ES%00%00%00%00IEND%AEB%60%82");
    background-position:center center, top left;
    background-repeat:no-repeat, repeat-x;
    padding-bottom: 1px;
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	
	border: 1px solid #222;
	position: relative;
	top: 2px;
	margin-left: 5px;
	margin-right: 5px;
}

.span4 code{
	color: #F92673;
	border: none;
	text-shadow: none;
	font-size: 11px;
	padding:1px 4px;
}


.btn-sparky{
    background:#E6E6E6;
    text-shadow:0 1px 0 #fff;
    color:#272B2F;
    -webkit-transition: all 0.3s linear; 
    -moz-transition: all 0.3s linear; 
    -o-transition: all 0.3s linear; 
    transition: all 0.3s linear; 

}
.btn-sparky:hover{
    background:#BDE052;
    text-shadow:0 0 5px #fff;
    -webkit-transition: all 0.2s linear; 
    -moz-transition: all 0.2s linear; 
    -o-transition: all 0.2s linear; 
    transition: all 0.2s linear;
}

/*
 * FAQ
 */
.empty{
	color:transparent;
}
.question{
	border-bottom: 1px dashed #CCC;
	margin-bottom: 15px;
	}
.question .q{
	margin: 0;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 10px;
	}
.question .a{
	background: #FEFEFE;
	padding:5px 5px 5px 15px;
	
	border: 1px solid #CCC;
	border-left: 4px solid #BDE052;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
	}
.question code{
	border:1px solid #ddd;
}

/*
 * Examples
 */

#examples .row{
    padding-top:0;
}
.example .info{
    background: #FEFEFE;
    padding: 5px 15px 5px 15px;
    border: 1px solid #CCC;
    border-bottom: 4px solid #BDE052;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    display:block;
    
    -webkit-transition: all 0.2s linear; 
    -moz-transition: all 0.2s linear; 
    -o-transition: all 0.2s linear; 
    transition: all 0.2s linear;
    }
    .example .author{
        font-size: 12px;
        margin-bottom: 5px;
        border-bottom: 1px solid #eee;
        padding-bottom: 5px;
        }
    .example a{
        text-decoration:none;
        color: #666;
        }
    .example h5{
        font-family: 'ProximaNova-Bold', "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: normal;
        margin-bottom:0;
        }
.example.no-example .info{
    border-bottom-color:#ccc;
    color:#666 !important;
}
.example:hover .info{
    color:#272B2F;
}

/*
 * Editor
 */
p a{
    color:#799915;
}
.opt{
	border-bottom: 1px dashed #CCC;
	margin-bottom: 20px;
	padding-bottom: 20px;
	}
.appname{
    width:286px;
    -webkit-transition: all 0.2s linear; 
    -moz-transition: all 0.2s linear; 
    -o-transition: all 0.2s linear; 
    transition: all 0.2s linear;
}
.appname:focus{
    border-color: #8AB30E !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #CAEB66 !important;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #CAEB66 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #CAEB66;
}
.logs{
    position: relative;
    left: 10px;
    top: -3px;
}
.btn-group{
    display:block;
}
.btn-group .btn {
    width: 33.4%;
    }
pre{
	word-break: normal !important;
	clear: none;
	overflow: auto;
	word-wrap: normal;
	white-space: pre;
	overflow-x: scroll;
	outline:none;
	}

.meme{
	text-align:center;
	border-bottom:1px solid #ddd;
	position:relative;
}
.kidding{
	font-size:12px;
	font-style:italic;
}

::-webkit-scrollbar {
    width: 10px;
    height:10px;
}
 
::-webkit-scrollbar-track {
    background:#272B2F;
    border-left:1px solid #000;
}
 
::-webkit-scrollbar-thumb {
    background:#BDE052;
}

pre::-webkit-scrollbar-track {
    background:#272B2F;
}
 
pre::-webkit-scrollbar-thumb {
    background:#BDE052;
}